
@using Expense_tracker.Models;
@using System.Data;
@{
    ViewBag.Title = "Index";
    int row_num =1 ;
}
<script>
    $(document).ready(function () {
        $("input[class ='test']").change(function () {
            alert("readys.");
        });
    });
    function CalculateSalary() {

        $('#totalamount').remove();
        $('.total').remove();
        var UnitPrice = $("#unitprice").val();
        var Quantity = $("#quantity").val();
        var Discount = $("#discount").val();
        var Total = (UnitPrice * Quantity) - Discount
        var div1 = '<div class = "total text-danger" name = > ' + Total + '</div>';
        $('#totalbefore').before(div1);
    }
</script>
<form method="post" action="/sale/NewRowtable">
    <div class="card bg-white my-3 py-3 ">
        <h5 class="mx-2">Add Sales Invoice  </h5>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group mx-4">
                    <label for="UserName">Customer   Name</label>
                    <input type="text" class="form-control" name="customername" value="" placeholder="Enter User Name">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group mx-4">
                    <label for="UserName">Billings Name</label>
                    <input type="text" class="form-control" name="billingname" value="" placeholder="Enter User Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group mx-4">
                    <label for="UserName">Date</label>
                    <input type="text" class="form-control" name="date" value="" placeholder="Enter User Name">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group mx-4">
                    <label for="UserName">Address</label>
                    <input type="text" class="form-control" name="address" value="" placeholder="Enter User Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group mx-4">
                    <label for="UserName">Vat Pan</label>
                    <input type="text" class="form-control" name="pan" value="" placeholder="Enter User Name">
                </div>
            </div>
            <div class="col-md-5">
                <label for="UserName">Refrencess</label>
                <input type="text" class="form-control" name="refrences" value="" placeholder="Enter User Name">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group mx-4">
                    <label for="UserName">Due Date </label>
                    <input type="text" class="form-control" name="duedate" value="" placeholder="Enter User Name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive scrollbar">
                    <table class="table table-hover table-striped overflow-hidden">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th scope="col">Item Name </th>
                                <th scope="col">Description</th>
                                <th scope="col">unit Price </th>
                                <th scope="col">quantity</th>
                                <th scope="col">Discount</th>
                                <th scope="col"> TotalAmount</th>
                        </thead>
                        <tbody>

                            @if (Model.SaleTable != null)
                            {
                                foreach (var row in Model.SaleTable.Rows)
                                {
                                    row_num++;
                                    <tr>

                                        <td><input type="text" class="form-control test" name="itemno_@row_num" id="serialno" value=" @row["ItemNo"].ToString()" /></td>
                                        <td><input type="text" class="form-control" name="itemname_@row_num" value="@row["ItemName"].ToString()" /> </td>
                                        <td><input type="text" class="form-control" name="descriptio_@row_num" onchange="CalculateSalary()" id="description" value="@row["Description"].ToString()" /></td>
                                        <td><input type="text" class="form-control" name="unitprice_@row_num" onchange="CalculateSalary()" id="unitprice" value="@row["UnitPrice"].ToString()" /></td>
                                        <td><input type="text" class="form-control" name="quantity_@row_num" onchange="CalculateSalary()" id="quantity" value="@row["Quantity"].ToString()" /></td>
                                        <td><input type="text" class="form-control" name="discount_@row_num" onchange="CalculateSalary()" id="discount" value="@row["Discount"].ToString()" /></td>
                                        <td><input type="text" class="form-control " name="totalamount_@row_num" id="totalamount" value="@row["Amount"].ToString()" /></td>
                                    </tr>

                                }

                            }


                            <tr class="align-middle">

                                <td><input type="text" class="form-control test" name="itemno" id="serialno" value="" /></td>
                                <td><input type="text" class="form-control" name="itemname" /></td>
                                <td><input type="text" class="form-control" name="description" onchange="CalculateSalary()" id="description" /></td>
                                <td><input type="text" class="form-control" name="unitprice" onchange="CalculateSalary()" id="unitprice" /></td>
                                <td><input type="text" class="form-control" name="quantity" onchange="CalculateSalary()" id="quantity" /></td>
                                <td><input type="text" class="form-control" name="discount" onchange="CalculateSalary()" id="discount" /></td>
                                <td><input type="text" class="form-control " name="totalamount" id="totalamount" /><div id="totalbefore"></div></td>
                            </tr>

                       
                        </tbody>
                    </table>
                    <div class="table-responsive scrollbar">
                        <table class="table table-hover table-striped overflow-hidden">
                            <thead>
                                <tr>
                                    <th> total Items</th>
                                    <th scope="col">Discount Amt </th>
                                    <th scope="col">Total </th>
                                    @if (Model.TotalTable != null)
                                    {
                                        foreach (var row2 in Model.TotalTable.Rows)
                                        {
                                        <tr>
                                            <td>
                                                @row2["Total Items"].ToString()
                                            </td>
                                            <td>
                                                @row2["Total Discount Amount"].ToString()
                                            </td>
                                            <td>
                                                @row2["Total Amount"].ToString()
                                            </td>
                                        </tr>
                                    }
                                }

                                </thead>
                        </table>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Add row</button>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-9">
                    <label for="UserName">Description </label>
                    <textarea class="form-control">Description</textarea>
                </div>
                <div class="col-md-3 border-1">
                    <label for="UserName">Calculation Details </label>
                    <div class="fs mx-4">
                        <label for="UserName">Sub total </label>
                        <input type="text" class="form-control" name="duedate" value="" placeholder="Enter User Name">
                        <label for="UserName">Discount</label>
                        <input type="text" class="form-control" name="duedate" value="" placeholder="Enter User Name">
                        <label for="UserName">Service Tax </label>
                        <input type="text" class="form-control" name="duedate" value="" placeholder="Enter User Name">
                        <label for="UserName">taxable Amount </label>
                        <input type="text" class="form-control" name="duedate" value="" placeholder="Enter User Name">
                    </div>
                </div>
            </div>
        </div>
        <input type="text" name="rowcount" value="@row_num" />
    </div>
</form>
