
@using Expense_tracker.Models;
@using System.Data;
@{
    ViewBag.Title = "ItemsList";
}

<div class="container">
    <h5 class="mx-2"></h5>
    <form method="post" action="/SupplierandExpense/SupplierListAddFormComplete">
        <div class="card bg-white my-3 py-3">
            <div class="row d-flex justify-content-between">
                <div class="col-md-3">
                    <h6 class="mx-2">Item List</h6>
                </div>
                <div class="col-md-6 text-end mx-4">
                    <a class="btn btn-outline-primary" href="/SupplierandExpense/ItemListAddForm">Add Item</a>
                </div>
            </div>
        </div>
    </form>
    <div class="card bg-white my-3 py-3">
        <table class="table table-striped">
            <tr>
                <th class="bold">Item ID</th>
                <th>Supplier Name</th>
                <th>Category Name</th>
                <th>Item Name</th>
                <th>Amount</th>

            </tr>
            @foreach (DataRow row in Model.WorkDataset.TempDataSet.Tables[0].Rows)
            {
                <tr>
                    <td>@row["ITEM_KEY_ID"].ToString()</td>
                    <td>@row["SUPPLIER_NAME"].ToString()</td>
                    <td>@row["CATEGORY_NAME"].ToString()</td>
                    <td>@row["ITEM_NAME"].ToString()</td>
                    <td>@row["AMOUNT"].ToString()</td>
                </tr>
            }
        </table>
    </div>
</div>
